@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  /* border: 1px solid red; */
  text-decoration: none;
  list-style: none;
}
a {
  color: #000;
}
body {
  display: flex;
  justify-content: center;
}

main {
  /* padding: 10px 50px; */
  display: flex;
  background-color: #fff;
  /* max-width: 1200px; */
  flex-direction: column;
  /* background-color: #eefae0; */
  width: 100%;
}
.heading-section {
  display: flex;
  justify-content: space-between;
  align-items: end;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
}
.name__deco {
  font-size: 1.5em;
  font-weight: 600;
}
.name {
  font-size: 1.1em;
  font-weight: 800;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: hsla(29, 92%, 70%, 1);

  background-image: linear-gradient(
    90deg,
    hsla(29, 92%, 70%, 1) 0%,
    hsla(0, 87%, 73%, 1) 100%
  );

  background-image: -moz-linear-gradient(
    90deg,
    hsla(29, 92%, 70%, 1) 0%,
    hsla(0, 87%, 73%, 1) 100%
  );

  background-image: -webkit-linear-gradient(
    90deg,
    hsla(29, 92%, 70%, 1) 0%,
    hsla(0, 87%, 73%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F9B16E", endColorstr="#F68080", GradientType=1 );
}
#information {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 50px;
  height: calc(100vh - 360px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.personal-information {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 30px;
}
.personal-information p {
  font-size: 18px;
}
.personal-title {
  font-size: 4.4em;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: hsla(29, 92%, 70%, 1);

  background-image: linear-gradient(
    90deg,
    hsla(29, 92%, 70%, 1) 0%,
    hsla(0, 87%, 73%, 1) 100%
  );

  background-image: -moz-linear-gradient(
    90deg,
    hsla(29, 92%, 70%, 1) 0%,
    hsla(0, 87%, 73%, 1) 100%
  );

  background-image: -webkit-linear-gradient(
    90deg,
    hsla(29, 92%, 70%, 1) 0%,
    hsla(0, 87%, 73%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F9B16E", endColorstr="#F68080", GradientType=1 );
}
.welcome-secondary {
  opacity: 0.6;
}
.role {
  font-style: italic;
  opacity: 1;
  font-size: 24px;
}
.social-media {
  display: flex;
  gap: 10px;
  align-items: center;
}
.social__buttons {
  width: 50px;
  font-size: 0.6em;
  padding: 3px;
  background-color: transparent;
  /*background-color: rgb(255, 212, 171);
  */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 2px solid #000;
  transition: scale 0.2s;
  -webkit-transition: scale 0.2s;
  -moz-transition: scale 0.2s;
  -ms-transition: scale 0.2s;
  -o-transition: scale 0.2s;
}
.social__buttons:hover {
  scale: 1.08;
}

/*=====================TECHNOLOGIES===================*/

#technologies {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}
.tech-title {
  text-decoration: underline;
  font-weight: 600;
}

.tech-img_container {
  display: flex;
  gap: 35px;
  padding-top: 25px;
}
.tech__imgs {
  width: 100px;
  padding: 10px;
  transition: transform 0.2s;
  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
}
.tech__imgs:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}

/*=======================PROJECTS=================*/
#projects {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #070510;
  padding-bottom: 120px;
}

.project-title_container {
  position: relative;
  margin: 100px;
  width: 240px;
  height: 60px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg {
  background-color: #000;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 230px;
  height: 50px;
  z-index: 2;
  /* background: rgba(255, 255, 255, 1); */
  /* backdrop-filter: blur(50px); */
  border-radius: 10px;
  overflow: hidden;
  /* outline: 2px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7em;
  font-weight: 600;
}
.bg span {
  /* color: hsla(29, 92%, 70%, 1); */
  color: #fff;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: hsla(29, 92%, 70%, 1);
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 3s infinite linear;
  -webkit-animation: blob-bounce 3s infinite linear;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

.project-container {
  width: 350px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 0px 15px 0px #fff;
  transition: scale 0.5s;
  -webkit-transition: scale 0.5s;
  -moz-transition: scale 0.5s;
  -ms-transition: scale 0.5s;
  -o-transition: scale 0.5s;
}
.project-information {
  padding: 15px 15px 30px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
}
.project-information h3 {
  font-size: 1.3em;
}
.project-information p {
  font-size: 0.85em;
  color: #333;
}
.project-img {
  width: 100%;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.buttons {
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.project-button {
  width: 40%;
  display: flex;
  justify-content: center;
}

.project-button span {
  font-size: 0.9em;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}

/*====================CONTACT====================¨*/

#contact {
  display: flex;
  justify-content: center;
  padding: 120px 0 120px 0;
  gap: 100px;
}

#contact div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  text-align: center;
}
.btn-mail {
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.btn-mail::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: black;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.btn-mail .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.btn-mail .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.btn-mail .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.btn-mail .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e8;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.btn-mail:hover {
  color: white;
  background: hsla(29, 92%, 70%, 1);
}

.btn-mail:hover::before {
  width: 0.9375rem;
  background: white;
}

.btn-mail:hover .text {
  color: white;
  padding-left: 1.5em;
}

.btn-mail:hover .top-key {
  left: -2px;
  width: 0px;
}

.btn-mail:hover .bottom-key-1,
.btn-mail::before:hover .bottom-key-2 {
  right: 0;
  width: 0;
}

/*===================FOOTER===================*/

footer {
  background-color: #070510;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer span {
  color: #fff;
  font-size: 0.8em;
}

/*===========================MEDIA QUERIES==================*/

@media (max-width: 777px) {
  .container {
    justify-content: center;
  }
  #contact {
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
  #technologies {
    padding: 100px 10% 100px 10%;
    gap: 10px;
  }
}
@media (max-width: 576px) {
  #information {
    text-align: center;
  }
  .personal-title {
    font-size: 2.6em;
  }
  .social-media {
    justify-content: center;
  }
  .tech-img_container {
    gap: 10px;
  }
  .tech__imgs {
    width: 23%;
  }

  .project-container {
    width: 290px;
  }
  .project-title_container {
    margin: 100px 0;
  }
  .heading-section {
    padding-top: 0;
  }
  /* .project-button {
    width: 70px !important; /*modificar padding*/
  footer {
    padding: 15px;
    font-size: 0.8em;
  }
}

@media (max-height: 796px) {
  .personal-title {
    font-size: 3.4em;
  }
}
